In [6]:
%load_ext autoreload
%autoreload 2
import os
import glob
import random
import re
from datetime import *
from pprint import pprint
import itertools 
import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
path = ''
file = 'Montgomery_datatemp04.dta'

In [13]:
df = pd.read_stata(file)
df.head()

,iso3_o,iso3_d,Year,inflow,id,iso2_o,iso2_d,contig,comlang_off,comlang_ethno,...,entry_proc_o,entry_proc_d,entry_time_o,entry_time_d,entry_tp_o,entry_tp_d,eu_o,eu_d,gdppcp_o,gdppcp_d
0,AFG,AUS,2000,1326,1,AF,AU,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,26374.71575
1,AGO,AUS,2000,3,33,AO,AU,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,3036.559728,26374.71575
2,ALB,AUS,2000,59,62,AL,AU,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,4026.537421,26374.71575
3,ARE,AUS,2000,0,97,AE,AU,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,84974.894090,26374.71575
4,ARG,AUS,2000,3,113,AR,AU,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,11829.484050,26374.71575

In [16]:
df.to_csv('Montgomery_datatemp04.csv')